{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">应用名称：</td> 
					<td>{$info.name}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">版本号：</td> 
					<td>{$info.version}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">文件链接：</td> 
					<td><a target="_blank" href="{$info.file_url}">下载附件</a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">背景图片：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.background}')"><img height="75" src="{$info.background}"></a></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
